* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    
}
a, a:link {
    text-decoration: none;
    color: white;
}
.listUnstyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    height: 60px;
    /* padding: 0 0 0 1px; */
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed; 
    z-index: 2; 
}
.nav img {
    margin-left: 10px;
    height: 40px;
}
.nav>div {
    height: 60px;
    width: 60px;
    /* padding: 10px; */
    background-color: blueviolet;
    position: relative;
}
/* .nav>div:hover .list{
    display: block;
} */

.burger {
    width: 40px;
    height: 8px;
    margin: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    box-shadow: 0px 15px 0  rgb(255, 255, 255), 0px -15px 0 white;
}
.nav>div::before {
    content: "";
    width: 40px;
    height: 8px;
    position: absolute;
    top: calc(30px - 4px);
    right: calc(30px - 20px);
    background-color: white;
    box-shadow: 0px 15px 0  rgb(255, 255, 255), 0px -15px 0 white;
}
.list {
    display: block;
    width: 200px;
    position: absolute;
    top: 100%;
    right: 10%;
    background-color: burlywood;
}
.list a {
    display: block;
    padding: 15px;
    font-size: 20px;
}
.list li {
    border-bottom: 1px solid cadetblue;
}
.header {
    width: 100%;
    height: 400px;
    background: url(https://picsum.photos/1200/900) center center no-repeat;
    background-size: cover;
    position: relative;
}
/* .header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */
.header h1 {
    width: 100%;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}
.main {
    max-width: 960px;
    margin: 0 auto;
}
.Services {
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}
.Services>h2 {
    padding: 20px 0;
}
.card {
    margin-bottom: 50px;
    padding: 40px;
    background-color: palegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100px;
    /* margin: 0 auto; */
}
.card h2 {
    padding: 20px 0;
}
.ourTeams {
    background-color: paleturquoise;
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourTeams h2 {
    padding: 30px 0;
}
.card2 {
    margin-bottom: 50px;
    background-color: khaki;
    padding: 20px;
}
.card2 figure {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.card2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card2 h2 {
    padding: 20px 0;
}
.postfolio {
    background-color: pink;
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postfolio figure {
    max-width: 480px;
    margin-bottom: 20px;
}
.postfolio h2 {
    padding: 30px 0;
}
.postfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.postfolio p {
    padding: 0px 20px 20px 20px
}
.contactUs {
    background-color: plum;
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactUs h2 {
    padding: 30px 0;
}
iframe {
    width: 100%;
    height: 250px;
}
.contactUs form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactUs input {
    height: 30px;
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    border: 3px solid rgb(61, 131, 66);
    /* border-radius: 10px; */
    background-color: white;
}
.contactUs textarea {
    height: 100px;
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px;
    border: 3px solid rgb(61, 131, 66);
    /* border-radius: 15px; */
    background-color: white;

}
.contactUs button {
    width: 100px;
    height: 30px;
    margin: 5px 0;
    background-color: rgb(61, 131, 66);
    color: white;
}
.footer {
    background-color: rosybrown;
    padding: 20px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.footer ul {
    font-size: 20px;
    width: 130px;
    background-color: yellowgreen;
    padding: 10px;
    margin: 10px;
}
.footer li {
    font-size: 18px;
}